In [1]:
# Importing the libraries 
import numpy as np 
import pandas as pd

In [2]:
# Laoding the data 
df=pd.read_csv("blogtext.csv",nrows=10000)

In [3]:
# Eyeballing the data 
df.head(2)

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...

In [4]:
df.text.head(5)

0               Info has been found (+/- 100 pages,...
1               These are the team members:   Drewe...
2               In het kader van kernfusie op aarde...
3                     testing!!!  testing!!!
4                 Thanks to Yahoo!'s Toolbar I can ...
Name: text, dtype: object

In [5]:
df.shape

(10000, 7)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
id        10000 non-null int64
gender    10000 non-null object
age       10000 non-null int64
topic     10000 non-null object
sign      10000 non-null object
date      10000 non-null object
text      10000 non-null object
dtypes: int64(2), object(5)
memory usage: 547.0+ KB

In [7]:
# Writing a function that strips the unwanted chars from the text 
import re
def reguex(x):
    return re.sub("[^a-zA-Z]"," ",x )

In [8]:
df['text'] = df['text'].apply(reguex) # Removing unwanted chars

In [9]:
df['text']= df['text'].str.strip() # Removing unwanted labels

In [10]:
df['text']=df['text'].str.lower() # Converting all letters in the text to lowerspace.

In [11]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Abhyuday\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [12]:
from nltk.corpus import stopwords 
stop_words = set(stopwords.words("english"))

In [13]:
df['text'] = df['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)])) # Removing stop words from the text.

In [14]:
df.text[20] # Example of the Preprocessed rows from the "text" column.

'whenever see pregnant korean lady really feel know within months year sentence complete utter child rearing duties things korean mothers go right conception well never stops today got taste day year old spencer woke early seeing still jetlag midnight last night younger winston already wife must fed kids like times day never stop spencer went swimming class get discount regular swimming since enrolled gal behind counter asked swimming outside class well really idea happening said sure said uncertain terms meant lot whether said ok much let see plus got kidding bent chun would happen seoul see spencer pay come anyways pool pretty much instructor well kids handle thought lengths strokes guess yet swimming got wife starbucks coffee loves stuff apparently justify buy one selfless korean women bless hearts came home shopping volunteered go kudos time think suggested spencer come thought fall asleep car especially swimming thought might well go list gave going take couple people complete well kids stayed whole time started realize parenting thing lot harder kids actually country usually seoul two mother sister town good god kids sleep pm someday make great investment bankers mused single parents even parents get starbucks may able drink gets cold least piece luxury hand seconds'

In [15]:
df.head(5)

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004",info found pages mb pdf files wait untill team...
1,2059027,male,15,Student,Leo,"13,May,2004",team members drewes van der laag urllink mail ...
2,2059027,male,15,Student,Leo,"12,May,2004",het kader van kernfusie op aarde maak je eigen...
3,2059027,male,15,Student,Leo,"12,May,2004",testing testing
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",thanks yahoo toolbar capture urls popups means...

In [16]:
df1 = pd.DataFrame(df.text,columns=['text'])

In [17]:
df1['labels'] = np.nan

In [18]:
for row in np.arange(0,df1.shape[0]):
    df1['labels'][row]=[df.gender[row],str(df.age[row]),df.topic[row],df.sign[row]]

C:\Users\Abhyuday\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Abhyuday\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [19]:
df1.head()

,text,labels
0,info found pages mb pdf files wait untill team...,"[male, 15, Student, Leo]"
1,team members drewes van der laag urllink mail ...,"[male, 15, Student, Leo]"
2,het kader van kernfusie op aarde maak je eigen...,"[male, 15, Student, Leo]"
3,testing testing,"[male, 15, Student, Leo]"
4,thanks yahoo toolbar capture urls popups means...,"[male, 33, InvestmentBanking, Aquarius]"

In [20]:
# Seperating the features and labels.
X=df1['text'] 
y=df1['labels']

In [21]:
# Splitting the data into training and testing sets.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [22]:
# Vectorizing the features - 
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(ngram_range=(1,2))

In [23]:
# Vectorizing training and testing features.
X_train=vectorizer.fit_transform(X_train)
X_test=vectorizer.transform(X_test)

In [24]:

print (X_train.shape)
print (X_test.shape)

(7500, 508012)
(2500, 508012)

In [25]:
# Converting the term document matrices into an array -
#X_train=np.array(X_train)

In [26]:
#X_test=np.array(X_test)

In [27]:
# Printing the term document matrices-
print (X_train)

  (0, 245408)	1
  (0, 93690)	1
  (0, 229902)	1
  (0, 127995)	1
  (0, 135298)	1
  (0, 494906)	1
  (0, 21711)	1
  (0, 70496)	1
  (0, 400641)	1
  (0, 148150)	1
  (0, 258779)	1
  (0, 96838)	1
  (0, 392757)	1
  (0, 24730)	1
  (0, 148553)	1
  (0, 299050)	1
  (0, 237521)	1
  (0, 50415)	1
  (0, 307196)	1
  (0, 504169)	1
  (0, 463322)	1
  (0, 252495)	1
  (0, 29729)	1
  (0, 133036)	1
  (0, 217878)	1
  :	:
  (7499, 193768)	1
  (7499, 402584)	1
  (7499, 425494)	1
  (7499, 92604)	1
  (7499, 276698)	1
  (7499, 316567)	1
  (7499, 366927)	1
  (7499, 414203)	1
  (7499, 99851)	1
  (7499, 46859)	1
  (7499, 502707)	1
  (7499, 368148)	1
  (7499, 313000)	1
  (7499, 114459)	2
  (7499, 162090)	1
  (7499, 135351)	1
  (7499, 444809)	1
  (7499, 12526)	2
  (7499, 324612)	1
  (7499, 137907)	1
  (7499, 289977)	4
  (7499, 170022)	1
  (7499, 231300)	1
  (7499, 246507)	1
  (7499, 135164)	1

In [28]:
print (X_test)

  (0, 44953)	1
  (0, 55281)	1
  (0, 88712)	1
  (0, 119708)	1
  (0, 131932)	1
  (0, 176652)	1
  (0, 205470)	1
  (0, 284061)	1
  (0, 321368)	1
  (0, 329554)	1
  (0, 329855)	1
  (0, 351337)	1
  (0, 398345)	1
  (0, 419605)	1
  (0, 419879)	1
  (0, 423368)	1
  (0, 436271)	1
  (0, 439115)	1
  (0, 473731)	1
  (0, 474356)	1
  (1, 313)	2
  (1, 437)	1
  (1, 538)	1
  (1, 751)	1
  (1, 2299)	2
  :	:
  (2499, 472104)	1
  (2499, 478866)	1
  (2499, 479497)	1
  (2499, 479801)	1
  (2499, 483031)	2
  (2499, 483496)	1
  (2499, 483630)	1
  (2499, 484958)	1
  (2499, 486755)	2
  (2499, 487115)	3
  (2499, 487515)	1
  (2499, 487762)	1
  (2499, 487903)	1
  (2499, 489178)	2
  (2499, 489243)	1
  (2499, 491379)	2
  (2499, 494870)	2
  (2499, 495025)	1
  (2499, 499357)	1
  (2499, 501380)	1
  (2499, 504408)	1
  (2499, 505733)	1
  (2499, 506511)	1
  (2499, 506920)	1
  (2499, 507051)	1

In [46]:
feature_names = vectorizer.get_feature_names()
corpus_index = np.arange(0,X_train.shape[0])
datfr = pd.DataFrame(X_train.T.todense(), index=feature_names, columns=corpus_index)
datfr.head()

MemoryError:

In [ ]:
# Trying to print the matrix is throwing a memory error.

In [29]:
def CountLabels(labels): 
  
    # Creating an empty dictionary  
    freq = {}
    for label in labels:
        #print(label)
        for item in label: 
            #print(item)
            if (item in freq): 
                freq[item] += 1
            else: 
                freq[item] = 1
    return freq

In [30]:
label_freq = CountLabels(df1.labels)

In [31]:
label_freq

{'male': 5916,
 '15': 602,
 'Student': 1137,
 'Leo': 301,
 '33': 136,
 'InvestmentBanking': 70,
 'Aquarius': 571,
 'female': 4084,
 '14': 212,
 'indUnk': 3287,
 'Aries': 4198,
 '25': 386,
 'Capricorn': 215,
 '17': 1185,
 'Gemini': 150,
 '23': 253,
 'Non-Profit': 71,
 'Cancer': 504,
 'Banking': 16,
 '37': 33,
 'Sagittarius': 1097,
 '26': 234,
 '24': 655,
 'Scorpio': 971,
 '27': 1054,
 'Education': 270,
 '45': 16,
 'Engineering': 127,
 'Libra': 491,
 'Science': 63,
 '34': 553,
 '41': 20,
 'Communications-Media': 99,
 'BusinessServices': 91,
 'Sports-Recreation': 80,
 'Virgo': 236,
 'Taurus': 812,
 'Arts': 45,
 'Pisces': 454,
 '44': 3,
 '16': 440,
 'Internet': 118,
 'Museums-Libraries': 17,
 'Accounting': 4,
 '39': 79,
 '35': 2315,
 'Technology': 2654,
 '36': 1708,
 'Law': 11,
 '46': 7,
 'Consulting': 21,
 'Automotive': 14,
 '42': 14,
 'Religion': 9,
 '13': 42,
 'Fashion': 1622,
 '38': 46,
 '43': 6,
 'Publishing': 4,
 '40': 1,
 'Marketing': 156,
 'LawEnforcement-Security': 10,
 'HumanResources': 2,
 'Telecommunications': 2}

In [32]:
len(label_freq)

64

In [33]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

In [34]:
y_train=mlb.fit_transform(y_train)

In [35]:
mlb.classes_

array(['13', '14', '15', '16', '17', '23', '24', '25', '26', '27', '33',
       '34', '35', '36', '37', '38', '39', '41', '42', '43', '44', '45',
       '46', 'Accounting', 'Aquarius', 'Aries', 'Arts', 'Automotive',
       'Banking', 'BusinessServices', 'Cancer', 'Capricorn',
       'Communications-Media', 'Consulting', 'Education', 'Engineering',
       'Fashion', 'Gemini', 'HumanResources', 'Internet',
       'InvestmentBanking', 'Law', 'LawEnforcement-Security', 'Leo',
       'Libra', 'Marketing', 'Museums-Libraries', 'Non-Profit', 'Pisces',
       'Publishing', 'Religion', 'Sagittarius', 'Science', 'Scorpio',
       'Sports-Recreation', 'Student', 'Taurus', 'Technology',
       'Telecommunications', 'Virgo', 'female', 'indUnk', 'male'],
      dtype=object)

In [36]:
y_test = mlb.transform(y_test)

C:\Users\Abhyuday\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:935: UserWarning: unknown class(es) ['40'] will be ignored
  .format(sorted(unknown, key=str)))

In [38]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression

In [39]:
clf = LogisticRegression(solver='saga') 
clf = OneVsRestClassifier(clf)

In [40]:
clf.fit(X_train,y_train)

C:\Users\Abhyuday\Anaconda3\lib\site-packages\sklearn\linear_model\sag.py:334: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

OneVsRestClassifier(estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='saga',
          tol=0.0001, verbose=0, warm_start=False),
          n_jobs=None)

In [41]:
pred = clf.predict(X_test)

In [42]:
from sklearn.metrics import classification_report
print(classification_report(y_test, pred, target_names=mlb.classes_))

                         precision    recall  f1-score   support

                     13       0.00      0.00      0.00        17
                     14       0.00      0.00      0.00        51
                     15       0.45      0.06      0.11       142
                     16       0.52      0.11      0.18       100
                     17       0.54      0.17      0.26       275
                     23       0.00      0.00      0.00        50
                     24       0.00      0.00      0.00       173
                     25       0.33      0.05      0.08       107
                     26       0.00      0.00      0.00        57
                     27       0.68      0.15      0.25       254
                     33       0.50      0.02      0.04        44
                     34       0.88      0.37      0.52       152
                     35       0.86      0.22      0.35       577
                     36       0.87      0.35      0.50       440
                     37       0.00      0.00      0.00         5
                     38       0.00      0.00      0.00        16
                     39       0.00      0.00      0.00        18
                     41       0.00      0.00      0.00        10
                     42       0.00      0.00      0.00         5
                     43       0.00      0.00      0.00         1
                     44       0.00      0.00      0.00         0
                     45       0.00      0.00      0.00         4
                     46       0.00      0.00      0.00         1
             Accounting       0.00      0.00      0.00         2
               Aquarius       0.50      0.07      0.13       136
                  Aries       0.85      0.53      0.65      1057
                   Arts       0.00      0.00      0.00         6
             Automotive       0.00      0.00      0.00         3
                Banking       0.00      0.00      0.00         2
       BusinessServices       0.00      0.00      0.00        32
                 Cancer       0.60      0.18      0.27       118
              Capricorn       0.40      0.08      0.13        51
   Communications-Media       0.00      0.00      0.00        27
             Consulting       0.00      0.00      0.00         6
              Education       0.00      0.00      0.00        65
            Engineering       0.00      0.00      0.00        33
                Fashion       0.86      0.38      0.53       413
                 Gemini       0.00      0.00      0.00        45
         HumanResources       0.00      0.00      0.00         0
               Internet       0.00      0.00      0.00        39
      InvestmentBanking       0.00      0.00      0.00        24
                    Law       0.00      0.00      0.00         3
LawEnforcement-Security       0.00      0.00      0.00         2
                    Leo       0.00      0.00      0.00        74
                  Libra       0.24      0.03      0.06       127
              Marketing       0.67      0.07      0.13        28
      Museums-Libraries       0.00      0.00      0.00         3
             Non-Profit       0.00      0.00      0.00        18
                 Pisces       0.70      0.17      0.28       111
             Publishing       0.00      0.00      0.00         1
               Religion       0.00      0.00      0.00         3
            Sagittarius       0.86      0.26      0.40       295
                Science       0.00      0.00      0.00        19
                Scorpio       0.52      0.10      0.16       235
      Sports-Recreation       0.00      0.00      0.00        15
                Student       0.68      0.18      0.28       277
                 Taurus       0.47      0.04      0.08       196
             Technology       0.84      0.28      0.42       674
     Telecommunications       0.00      0.00      0.00         0
                  Virgo       0.50      0.02      0.04        55
                 female       0.68      0.78      0.73      1017
                 indUnk       0.67      0.50      0.57       805
                   male       0.83      0.76      0.79      1483

              micro avg       0.76      0.39      0.51      9999
              macro avg       0.26      0.09      0.13      9999
           weighted avg       0.68      0.39      0.46      9999
            samples avg       0.73      0.39      0.47      9999

C:\Users\Abhyuday\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\Abhyuday\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1145: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)
C:\Users\Abhyuday\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels.
  'precision', 'predicted', average, warn_for)

OBSERVATIONS-
1) The model seems to be perfroming poorly as it is not predicting some classes at all. This might be do to the fact that
the sample size that was selected was very less and that the logistic regression model that was used wasn't the correct one.
2) Macro level scores were bad, but the micro weighted scores are better, it implies that the model performed well on many of the classses.
3) The model might do better with a lower threshold than 0.5.

In [45]:
# Actual vs predicted for a sample of 5 records:
for i in np.random.randint(0,X_test.shape[0],size=5):
    print('Record: ',i)
    print('Actual results: ',mlb.classes_[np.where(y_test[i]==1)])
    print('Predicted Result ',mlb.classes_[np.where(pred[i]==1)])

Record:  1486
Actual results:  ['26' 'Scorpio' 'Technology' 'male']
Predicted Result  ['female' 'indUnk']
Record:  1349
Actual results:  ['24' 'Sagittarius' 'female' 'indUnk']
Predicted Result  ['female' 'indUnk']
Record:  642
Actual results:  ['13' 'Aquarius' 'Student' 'female']
Predicted Result  ['Student' 'male']
Record:  721
Actual results:  ['36' 'Aries' 'Fashion' 'male']
Predicted Result  ['35' 'Aries' 'male']
Record:  694
Actual results:  ['27' 'Aquarius' 'Marketing' 'female']
Predicted Result  ['27' 'Aquarius' 'female']