In [27]:
import numpy as np
import scipy.stats
import pandas as pd
from scipy.stats import ttest_1samp
from statsmodels.stats.power import ttest_power
d= {'SALESPERSON':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30],
    'Old Scheme':[57,103,59,75,84,73,35,110,44,82,67,64,78,53,41,39,80,87,73,65,28,62,49,84,63,77,67,101,91,50],
   'New Scheme':[62,122,54,82,84,86,32,104,38,107,84,85,99,39,34,58,73,53,66,78,41,71,38,95,81,58,75,94,100,68]}
df= pd.DataFrame(data=d)

In [30]:
df=pd.read_csv("data.csv")
df

    SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0             1                         57                         62
1             2                        103                        122
2             3                         59                         54
3             4                         75                         82
4             5                         84                         84
5             6                         73                         86
6             7                         35                         32
7             8                        110                        104
8             9                         44                         38
9            10                         82                        107
10           11                         67                         84
11           12                         64                         85
12           13                         78                         99
13           14                         53                         39
14           15                         41                         34
15           16                         39                         58
16           17                         80                         73
17           18                         87                         53
18           19                         73                         66
19           20                         65                         78
20           21                         28                         41
21           22                         62                         71
22           23                         49                         38
23           24                         84                         95
24           25                         63                         81
25           26                         77                         58
26           27                         67                         75
27           28                        101                         94
28           29                         91                        100
29           30                         50                         68

In [31]:
#Answer 1.
print ("The mean of the old scheme is", df["Old Scheme (in thousands)"].mean())

The mean of the old scheme is 68.03333333333333

In [32]:
#Answer 1.
print ("The mean of the New Scheme is", df["New Scheme (in thousands)"].mean())

The mean of the New Scheme is 72.03333333333333

In [33]:

mu= 68.03333333333333
dev=df["Old Scheme (in thousands)"].std() 
se= dev/np.sqrt(30)
scipy.stats.norm.isf(0.05,loc=mu,scale=se)

74.17642398819665

In [34]:
# As it can be obsereved from above, the Citical Region falls above the 74.176 (in thousands) cut off. 
# As the mean of the New Scheme lies in the Acceptance Region (with a mean of 72.00333), the New Scheme isn't significantly different from the Old Scheme.

In [48]:
#Answer 2.
# confirming this by calling the ttest_1samp function-
t_statistic,p_value=ttest_1samp(df["Old Scheme (in thousands)"],72.03333333333333)
#Answer 3.
print (t_statistic,p_value) # It is observed that the p value is greater that 0.05,thus we fail to reject the null hypothesis.

-1.0710267644507487 0.2929904662472409

In [49]:
#Answer 4a.
# Type 1 Error is the alpha of the Old sceheme distribution which is 0.05 or 5%.

In [50]:
# Answer 4b.
# For an averege increase of 5000 pounds in the new Scheme the new mean would be 73.0333, therefore calculating the p-value:
t_statistic,p_value=ttest_1samp(df["Old Scheme (in thousands)"],73.03333333333333)
print (t_statistic,p_value)
# Even if an increase in 5000 pounds is enough to break even, it still isn'ta statistically significant increase compared to the old scheme when a threshold of  5% significance is considered.

-1.338783455563436 0.1910421709623265

In [64]:
#Answer 4c: Calculating the power of the test:
delta=(df["Old Scheme (in thousands)"].mean()-73.03333333)/dev
print (ttest_power(delta,nobs=30,alpha=0.05,alternative="larger"))

0.0015727257091269209